

  
#pexels-brooke-lewis-3623202 {
	width: 1133px;
	height: 462px;
	left: 133px;
	top: 399px;
	
}

#Waar_komt_het_gebruik_van_een_ {
	left: 142.493px;
	top: 907.5px;

	width: 1082.014px;
	height: 618.5px;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(37,38,42,1);
}

#H1 {
  text-align: center;
  margin:2rem;
	color: rgba(37,38,42,1);
}

#H2 {
	left: 142.493px;
	top: 1696.072px;
	width: 155px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(33,34,38,1);
}
#Card_1 {
	width: 387.875px;
	height: 457.878px;
	left: 129px;
	top: 1788px;
	
}
#pexels-tima-miroshnichenko-679 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
    width: 362.682px;
    height: 272.878px;
    left: 0px;
    top: 0px;
}
#Heerlijk_genieten_van_een_eige {
    left: 0px;
    top: 338.878px;
    overflow: hidden;
    width: 361.557px;
    height: 74px;
    line-height: 25px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(106,102,128,1);
}
#Zelf_een__sauna_bouwen {
    left: 16.67px;
    top: 110.878px;
    width: 344.886px;
    height: 101px;
    line-height: 32px;
    margin-top: -6.5px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: rgba(255,255,255,1);
}

.Line_18 {
    width: 220.75px;
    height: 2px;
    left: 129px;
    top: 1741.5px;
    transform: matrix(1,0,0,1,0,0);
}

#blog_text1 {
    width: 387.875px;
    height: 166.5px;
    left: 0px;
    top: 291.378px;
}
.box_1 {
    width: 362px;
    height: 273px;
    left: 0.438px;
    top: 0.378px;
}
#box_1 {
    opacity: 0.53;
    fill: rgba(0,0,0,1);
}

#date_1 {
    left: 0px;
    top: 0px;
    width: 61px;
    white-space: nowrap;
    line-height: 29px;
    margin-top: -8.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(158,158,158,1);
}

#door_Saunakoning {
    left: 0px;
    top: 15px;
    width: 211px;
    white-space: nowrap;
    line-height: 29px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(158,158,158,1);
}

#Lees_Meer {
    left: 0px;
    top: 140.5px;
    width: 116px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(162,110,74,1);
}
#arrow_1 {
    width: 294px;
    height: 22px;
    left: 93.875px;
    top: 144.5px;
}

#Card_2{ 
	width: 388.438px;
	height: 457.88px;
	left: 522px;
	top: 1788px;
}
#ID2043e3f543ce863ad3961209b7ab {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
    width: 362.682px;
    height: 272.878px;
    left: 0.563px;
    top: 0px;
    overflow: visible;
}
#image_1_ {
	width: 363.245px;
	height: 408.878px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Droom_jij_er_ook_van_Een_mooie {
    left: 2.688px;
    top: 334.878px;
    overflow: hidden;
    width: 361.557px;
    height: 74px;
    line-height: 25px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(106,102,128,1);
  
}

.box_1_ {
    overflow: visible;
    width: 363.244px;
    height: 273px;
    left: 0px;
    top: 0.378px;
}

#box_1_ {
    opacity: 0.53;
    fill: rgba(0,0,0,1);
}

#Een_eigen_sauna_thuis_ontdek_d {
    left: 50.898px;
    top: 106.878px;
    overflow: visible;
    width: 260.886px;
    height: 101px;
    line-height: 32px;
    margin-top: -6.5px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: rgba(255,255,255,1);
}

#blog_text1_ {
    width: 387.875px;
    height: 166.502px;
    left: 0.563px;
    top: 291.378px;
    overflow: visible;
}

#Lees_Meer_ba {
    left: 0px;
    top: 140.502px;
    overflow: visible;
    width: 116px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(162,110,74,1);
}

#arrow_1_bb {
    width: 294px;
    height: 22px;
    left: 93.875px;
    top: 144.502px;
    overflow: visible;
}

#date_2 {
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    line-height: 29px;
    margin-top: -8.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(158,158,158,1);
}

#door_Saunakoning_bf {
    left: 0px;
    top: 15px;
    overflow: visible;
    width: 211px;
    white-space: nowrap;
    line-height: 29px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(158,158,158,1);
}

/* Footer */

footer {
	background-color: var(--headerBackgroundColor);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	color: rgb(218, 218, 218);
  }
  
  footer a {
	color: grey;
  }
  
  .footer-message {
	margin: 2rem;
	font-size: 12px;
  }
  
  .socials {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  footer hr {
	color: grey;
	width: 250px;
  }
  
  .socials img {
	width: 15px;
	margin: 0.5rem;
  }
  
  .socials p {
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 0.5rem;
  }
  
  .footer-contact p {
	font-size: 12px;
	margin: 0.5rem;
  }
  
  .footer-contact a {
	margin-left: 0.5rem;
  }
  
  .footer-logo {
	width: 150px;
  }
  
  .footer-contact {
	display: flex;
	align-items: center;
  }
  
  .footer-contact img {
	width: 30px;
	margin-right: 1rem;
  }
  
  footer .flex-row {
	display: flex;
	align-items: center;
  }
  
  .vertical-line {
	height: 50px;
	background-color: white;
	width: 1px;
	margin: 1rem;
  }
  
  .container-row {
	display: flex;
	flex-wrap: wrap;
  }
  
  .footer-links {
	margin: 3rem 2rem;
	min-width: 250px;
  }
  
  .footer-links li {
	margin-top: 0.5rem;
	font-size: 13px;
  }
  
  .payments {
	display: flex;
	align-items: center;
	background-color: white;
	width: 100%;
	justify-content: center;
	padding: 2rem;
	margin-top: 6rem;
  }
  
  .payments a {
	color: black;
	margin-right: 2rem;
	font-size: 13px;
  }
  
  .payment-icons {
	display: flex;
	align-items: center;
  }
  
  .payment-icons img {
	width: 30px;
	margin: 0.3rem;
  }
  



  /*  Blog section - Knarik */


  #blog-section{
    width:100%;
    display: flex;
    margin: 3rem;
  }


  #blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 4rem;
    margin-top: 200px;
  }
  
  .blog-list {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .blog-section h3 {
    text-align: center;
    line-height: 1.4;
  }
  
  .thin-font {
    font-weight: 400;
  }
  
  .dates {
    color: grey;
    font-size: 12px;
    margin: 1rem 0;
  }
  
  .blog-preview {
    margin: 1rem 0;
    height: 100px;
    overflow: hidden;
  }
  
  .blog-post {
    width: calc(100% / 4);
    min-width: 250px;
    margin: 2rem;
  }
  
  .meer {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .blog-post .meer {
    margin-top: 2.5rem;
  }
  
  .meer a {
    color: var(--accentDark);
    font-weight: 500;
  }
  
  .meer img {
    width: 60px;
    height: 10px;
    margin-left: 1rem;
  }

  

/* ----------- */

  
nav{
  background-color: var(--headerBackgroundColor) !important;
}