nav ul a {
  color: black !important;
}

.scrolled {
  background-color: white !important;
}

.line {
  background-color: rgb(83, 83, 83) !important;
}
header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 60%;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.product-info-card {
  width: 35%;
  box-shadow: 1px 1px 10px rgb(240, 240, 240);
  padding: 3rem;
  min-width: 300px;
  margin-top: 4rem;
}

.product-info-card p {
  font-size: 13px;
  display: flex;
}

.product-info-card p img {
  width: 20px;
  margin-right: 0.5rem;
}

.product-info-card li {
  font-size: 13px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.product-info-card li img {
  width: 15px;
  margin-right: 0.5rem;
}

.flex-row {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.price-row {
  display: flex;
  justify-content: space-between;
}

.price-row img {
  width: 120px;
}

.vertical-line {
  height: 20px;
  background-color: black;
}

.product-info-card h4 {
  margin: 1rem 0;
}

.product-info-card ul:nth-child(1) {
  margin-right: 3rem;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttons button {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons img {
  width: 20px;
  margin-right: 1rem;
}

.black-btn {
  background-color: black;
  color: white;
  border: 1px solid black;
  margin: 1rem 0;
}

.transparent {
  background-color: transparent;
  border: 1px solid black;
}

/* cards */

.info-section {
  min-height: 100vh;
  padding: 3rem;
  margin-bottom: 5rem;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.cards li {
  background-color: #f5f5f5;
  margin: 1rem;
  width: calc(100% / 3);
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: center;
  font-weight: 500;
}

.cards li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cards li img {
  width: 30px;
  margin-right: 2rem;
}

.section-menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.menu {
  margin-top: 2rem;
  margin-right: 4rem;
}

.menu li {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  width: 200px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(151, 151, 151);
  cursor: pointer;
}

.menu .active-sub-link {
  color: black;
}

.detail {
  margin: 1rem;
  min-height: 100px;
  width: 60%;
}

.detail h4 {
  margin-bottom: 1rem;
}

.info-row img {
  width: 100px;
  margin: 2rem;
}

.info-container {
  width: 80%;
}

/* Reference */

.reference-section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.ref-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref-img {
  width: 500px;
  background-image: url(../assets/images/homepage/sauna.jpg);
  width: 500px;
  height: 400px;
  background-size: cover;
  margin: 2rem;
}

/*Showroom */
.showroom-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  width: 70%;
  position: relative;
  top: 20%;
}

.showroom-wrapper p {
  color: #e8c3a9;
  font-size: 14px;
}

.svg-wrapper {
  display: flex;
  width: 200px;
  align-items: center;
}

/* Map Section */
/* Map Section */

.accent-dark {
  color: #988172;
}

.map-section h3 {
  padding-bottom: 1rem;
}

.map-section ul {
  margin-top: 2rem;
  list-style: circle;
}

.map-section .showrooms {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.showrooms .meer {
  margin-top: 3rem;
  margin-left: 3rem;
}

.map-section p {
  color: gray;
}

.map-section li {
  margin: 0.5rem;
}

.map-section li a {
  color: black;
}

.map-section {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  min-height: 100vh;
  background-color: var(--headerBackgroundColor);
}
#map {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map img {
  width: 80%;
}

.meer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.blog-post .meer {
  margin-top: 2.5rem;
}

.meer a {
  color: var(--accentDark);
  font-weight: 500;
}

.meer img {
  width: 60px;
  height: 10px;
  margin-left: 1rem;
}
/* circles */

.circles {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.circles .circle-child {
  width: 5px;
  height: 5px;
  background-color: rgb(151, 151, 151);
  font-size: 3rem;
  border-radius: 100%;
}

.circle-wrapper {
  border-radius: 100%;
  padding: 0.6rem;
  margin: 0.1rem 2rem;
}

.circles .active {
  border: 1px solid white;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
  }
}

@keyframes move {
  to {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
  }
}

/* Media */

@media (max-width: 900px) {
  header {
    flex-direction: column;
    height: 80vh;
  }

  .map-section {
    flex-direction: column;
  }

  #map,
  .map-section .showrooms {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .circles {
    display: none;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* review */
/* REVIEW SECTION */

.reviews-section {
  background-color: rgba(241, 241, 241, 0.473);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
}

.bold-font {
  font-weight: 700;
}

.reviews-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title h3 {
  font-weight: 500;
}

section hr {
  width: 150px;
  margin: 2rem;
  color: var(--accentBright);
}

.reviews-title img {
  width: 40px;
}

.reviews-title h5 {
  color: grey;
  margin-bottom: 1rem;
}

.value-prop {
  display: flex;
  min-height: 200px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
  box-shadow: var(--boxShadow);
}

.value {
  margin: 1.5rem;
}

.value-prop img {
  width: 35px;
  margin-bottom: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-content {
  display: flex;
  justify-content: center;
  padding: 4rem;
  width: 100%;
  height: 40vh;
  align-items: center;
}

.arrow-wrapper {
  background-color: black;
  height: 65px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-wrapper img {
  width: 20px;
}

.reviews-content p {
  max-width: 40%;
  text-align: center;
  margin: 0 6rem;
  min-width: 250px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
}
