header {
  background-color: var(--black);
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.hero {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: left;
  color: rgb(187, 187, 187);
  align-items: center;
  background-color: var(--headerBackgroundColor);
}

.wrapper {
  width: 60%;
}

/* #abuget {
  font-family: "Abuget";
  font-size: 50px;
} */

.hero h1 {
  width: 100%;
  margin-bottom: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero p {
  width: 100%;
  text-align: left;
  color: rgb(158, 154, 147);
}

.bg-video {
  width: 50%;
  height: 100vh;
  background-color: #1a1a1b;
  display: flex;
  padding: 2rem;
}

.box {
  width: 180px;
  margin: 1rem;
  overflow: hidden;
  margin-top: 100px;
}

.left {
  height: 80vh;
  transform: translate(-250px);
}

.middle {
  height: 90vh;
  transform: translate(-500px, -100px);
}

.right {
  height: 80vh;
  transform: translate(-700px);
}

.middle-box {
  transform: translateY(50px);
}

.showroom-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  width: 70%;
  position: relative;
  top: 20%;
}

.showroom-wrapper p {
  color: #e8c3a9;
  font-size: 14px;
}

.svg-wrapper {
  display: flex;
  width: 200px;
  align-items: center;
}

.buttons {
  width: 100%;
  margin-top: 2rem;
}

.buttons a {
  text-decoration: none;
  color: white;
}

.primary-button,
.secondary-button {
  border: None;
  padding: 1rem 3rem;
  margin-top: 2rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
  border-radius: 3px;
}

.primary-button {
  background-color: var(--homepageButton);
  color: white;
  border: 1px solid var(--homepageButton);
}

.secondary-button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

/* REVIEW SECTION */

.reviews-section {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bold-font {
  font-weight: 700;
}

.reviews-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title h3 {
  font-weight: 500;
}

hr {
  width: 150px;
  margin: 2rem;
  color: var(--accentBright);
}

.reviews-title img {
  width: 40px;
}

.reviews-title h5 {
  color: grey;
  margin-bottom: 1rem;
}

.value-prop {
  display: flex;
  min-height: 200px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
  box-shadow: var(--boxShadow);
}

.value {
  margin: 1.5rem;
}

.value-prop img {
  width: 35px;
  margin-bottom: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-content {
  display: flex;
  justify-content: center;
  padding: 4rem;
  width: 100%;
  height: 40vh;
  align-items: center;
}

.arrow-wrapper {
  background-color: black;
  height: 65px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-wrapper img {
  width: 20px;
}

.reviews-content p {
  max-width: 40%;
  text-align: center;
  margin: 0 6rem;
  min-width: 250px;
}

/* Assortiments section */

.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--headerBackgroundColor);
  color: white;
  padding-top: 4rem;
  position: relative;
}

.assortiments {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.a1 {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.85),
      rgba(7, 7, 7, 0.5)
    ),
    url("../assets/images/homepage/binnenSauna.jpg");
  transform: translateY(80px);
  opacity: 0;
}

.a2 {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.85),
      rgba(7, 7, 7, 0.5)
    ),
    url("../assets/images/homepage/sauna.jpg");
  transform: translateY(120px);
  opacity: 0;
}

.a3 {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.85),
      rgba(7, 7, 7, 0.5)
    ),
    url("../assets/images/homepage/Infrarood.jpg");
  transform: translateY(160px);
  opacity: 0;
}
.a4 {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.85),
      rgba(7, 7, 7, 0.5)
    ),
    url("../assets/images/homepage/barrel.png");
  transform: translateY(200px);
  opacity: 0;
}

.assortiment {
  width: calc(100% / 4);
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assortiment button {
  margin: 1rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.svg-wrapper {
  left: 0;
  color: var(--accentBright);
  margin: 2rem 0 2rem 2rem;
  width: 200px;
}

.products-section .svg-wrapper {
  align-self: flex-start;
}

.products-section .svg-wrapper p {
  width: 250px;
  cursor: pointer;
  color: var(--accentBright);
  text-decoration: none;
}

.products-section .svg-wrapper svg {
  width: 150px;
  margin-top: 0.3rem;
}

/* Benefits section */

.benefits-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  margin-top: 5rem;
}

.benefits-section p {
  width: 350px;
  margin: 2rem 0;
}

.benefits-section .svg-wrapper {
  width: 350px;
}

.benefits-section .svg-wrapper svg {
  color: var(--accentDark);
}

.svg-wrapper p {
  width: 550px;
}

button a {
  text-decoration: none;
  color: white;
}
/* Extras section */
.extras-section a {
  color: var(--accentDark);
  text-decoration: none;
}

.acties {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.4),
      rgba(7, 7, 7, 0.4)
    ),
    url("../assets/images/homepage/acties.jpg");
  transform: translateX(-100px);
  opacity: 0;
}

.about {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.4),
      rgba(7, 7, 7, 0.4)
    ),
    url("../assets/images/homepage/about.jpg");
  transform: translateY(50px);
  opacity: 0;
}

.catalogus {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.4),
      rgba(7, 7, 7, 0.4)
    ),
    url("../assets/images/homepage/catalogus.jpg");
  transform: translateX(100px);
  opacity: 0;
}

.blog {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.4),
      rgba(7, 7, 7, 0.4)
    ),
    url("../assets/images/homepage/blog.jpg");
  transform: translateY(50px);
  opacity: 0;
}

.extras-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.acties,
.about,
.blog,
.catalogus {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  margin: 1rem;
}

.extras-section button {
  padding: 1rem 3rem;
  background-color: white;
  border: none;
  color: var(--accentDark);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.catalogus {
  width: 20vw;
  height: 70vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-child {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-width: 250px;
}

.acties {
  height: 40vh;
  width: 94%;
}

.blog,
.about {
  width: calc(100% / 3);
  height: 25vh;
}

.catalogus {
  display: flex;
  flex-direction: column;
}

.catalogus img {
  width: 60px;
  height: 10px;
}

#catalogus-button {
  height: 30vh;
  width: 200px;
}

#catalogus-button img {
  margin-top: 1rem;
}

/* Map Section */

.accent-dark {
  color: #988172;
}

.map-section h3 {
  padding-bottom: 1rem;
}

.map-section ul {
  margin-top: 2rem;
  list-style: circle;
}

.map-section .showrooms {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.showrooms .meer {
  margin-top: 3rem;
  margin-left: 3rem;
}

.map-section p {
  color: gray;
}

.map-section li {
  margin: 0.5rem;
}

.map-section li a {
  color: black;
}

.map-section {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  min-height: 100vh;
  background-color: var(--headerBackgroundColor);
}
#map {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map img {
  width: 80%;
}

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  margin-top: 10rem;
}

.blog-list {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog-section h3 {
  text-align: center;
  line-height: 1.4;
}

.thin-font {
  font-weight: 400;
}

.dates {
  color: grey;
  font-size: 12px;
  margin: 1rem 0;
}

.blog-preview {
  margin: 1rem 0;
  height: 100px;
  overflow: hidden;
}

.blog-post {
  width: calc(100% / 4);
  min-width: 250px;
  margin: 2rem;
}

.meer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.blog-post .meer {
  margin-top: 2.5rem;
}

.meer a {
  color: var(--accentDark);
  font-weight: 500;
}

.meer img {
  width: 60px;
  height: 10px;
  margin-left: 1rem;
}

/* ANIMATIONS */

.value-prop {
  transform: translateY(-100px);
  opacity: 0;
}

/* circles */

.circles {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.circles .circle-child {
  width: 5px;
  height: 5px;
  background-color: rgb(151, 151, 151);
  font-size: 3rem;
  border-radius: 100%;
}

.circle-wrapper {
  border-radius: 100%;
  padding: 0.6rem;
  margin: 0.1rem 2rem;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
  }
}

@keyframes move {
  to {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
  }
}

/* Media */

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  .hero {
    position: absolute;
    z-index: 9999;
    background-color: #1a1a1bda;
  }

  .hero,
  .bg-video {
    width: 100%;
  }

  .bg-video {
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .hero p,
  .hero h1 {
    text-align: center;
  }

  .hero h1 {
    color: white;
  }

  .hero p {
    color: rgb(204, 204, 204);
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  /* value prop */

  .value-prop {
    flex-wrap: wrap;
  }
  .value h5 {
    font-size: 11px;
  }
  .assortiment {
    width: calc(100% / 2);
  }

  .map-section {
    flex-direction: column;
  }

  #map,
  .map-section .showrooms {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /*review */
  .assortiment {
    width: 100%;
  }

  .reviews-content p {
    margin: 0 2rem;
    font-size: 14px;
  }

  .arrow-wrapper img {
    height: 15px;
    width: 15px;
  }

  .arrow-wrapper {
    height: 35px;
  }

  .buttons button {
    font-size: 10px;
    padding: 1rem 2rem;
  }
  .circles {
    display: none;
  }
}

/* slideshow  animation*/

.review {
  display: none;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.circles .bright {
  border: 1px solid white;
}

.circles .dark {
  border: 1px solid rgb(83, 83, 83);
}

.circles .transparent {
  border-color: transparent;
}
